<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Lens works on phones without some cameras (e.g. no back camera on some tablets). -->
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
</manifest>
